body {
    margin: 0%;
    padding: 0%;
    background: linear-gradient(to right, #a08679, #bca89f); 
}

#headingtitle {
font-family: sans-serif;
display: flex; 
position: static; 
padding: 15&;
background: #8b6c5c;
color: #765341;
width: 100%;
}


#title {
    color: Black;
     display: inline;
margin-left: 90px;
font-size: 50px;
font-style: italic;
font-weight: bold;
}

a {
    text-decoration: none;
color: Black;
text-align: right;
font-weight: bold;
}

#nav1{

        color: Black;
    font-weight: bold;
    display: inline;
    margin-left: 30%;
    font-size: 20px;
    font-style: italic;
}

nav {
   font-weight: bold;
    color: Black;
    display: inline;
    margin-right: 20px;
    font-size: 20px;
    font-style: italic;
}

#h1 {
    font-size: 80px;
    line-height: 1.5;
    font-family: "Times New Roman, Georgia, Serif";
    text-shadow: 5px 5px 8px gray;
    color: black;
    font-weight: bold;
    margin-top: 5%;


    
}

#h2 {
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
    color: black;
}

footer {
    margin-top: 8%;
    
    font-weight: bold;
    color: black;
      background: #8b6c5c;
      text-align: center;
      padding: 10px;
      font-size: 20px;
    
      
   
      

    }





