* {
    margin: 0;
}
body{
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #a08679, #bca89f);
  
}







h1 {
    border: 2px solid gray;
    font-size: 40px; 
    justify-content: center;
    text-align: center;
    width: 800px;
    margin-left: 10%;
    background-color: beige;
    
}





ul {
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 1;
}


h2 {
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 1;
    text-align: center;
}


img {
    
    width: 450px;
    height: 450px;
    margin-left: 15px; 
    margin-right: 15px;
    margin-bottom: 30px;
    border-radius: 10%;
    border: 2px solid lightgray;
}


.inline {
    display: flex;
}

p {
     font-size: 20px;
    line-height: 1.7;
    letter-spacing: 1;
}

.

.info-table{
    width: 90%;
    margin: 20px;
    border-collapse: collapse;
    background: white;
    margin-left: 4%;
    
}

.info-table img {
    width: 200px;
    height: 200px;

}

.info-table td {
        vertical-align: top;
    line-height: 1.7;
    letter-spacing: 1;
    font-size: 20px;
}

h3 th {
    font-size: 20px;
    vertical-align: top;
    line-height: 1.7;
    letter-spacing: 1;
}

th {
        font-size: 20px;
    vertical-align: top;
    line-height: 1.7;
    letter-spacing: 1;
}

.float-right {
    float: right;
}

.halimbawa img{
    width: 250px;
    height: 250px;
    margin: 3% 3%;
}

.paragraph {
    font-size: 20px;
    vertical-align: top;
    line-height: 1.7;
    letter-spacing: 1;
}
