* {
  margin: 0;
}
body{
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #a08679, #bca89f);
    
}

h1 {
    border: 2px solid gray;
    font-size: 40px; 
    justify-content: center;
    text-align: center;
    width: 800px;
    margin-left: 10%;
    background-color: beige;
}


.text {
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 1;
}

.text-2 {
    border: 2px solid gray;
    font-size: 40px; 
    justify-content: center;
    text-align: center;
    width: 800px;
    margin-left: 10%;
    background-color: beige;
}

.text-3 {
    border: 2px solid gray;
    font-size: 40px; 
    justify-content: center;
    text-align: center;
    width: 800px;
    margin-left: 10%;
    background-color: beige;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}


.float-left {
    float: left;
    margin-right: 15px;
    
}

.gif {
    float: left;
    margin-right: 15px;
    width: 450px;
    height: 450px;
}

.paniniwala {
    float:none;
}


ul {
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 1;
}


.floating {
    float: right;
    width: 350px;
    height: 350px;
    margin-right: 20%;
    margin-top: 3%;
}

.no {
    float: none;
}

 
